<template>
    <panel-item :field="field">
        <template slot="value">
            <table class="table-auto border-separate border-2 border-gray-800">
                <thead>
                <tr class="pb-4">
                    <th class="text-left p-4 border-r">Field name</th>
                    <th class="text-left p-4 border-r">Our value</th>
                    <th class="text-left p-4">Evalid value</th>
                    <th>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="field in fields">
                    <td class="px-4 py-1 border-r">{{ field.name }}</td>
                    <td class="px-4 py-1 border-r">{{ field.source }}</td>
                    <td class="px-4 py-1">{{ field.general }}</td>
                    <td class="px-4 py-1" :title="field.source == null ? field.name + ' was not supplied for verification' : ''">
                        <svg v-if="field.source == null" width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="orange">
                            <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
                        </svg>
                        <svg v-else-if="field.source === field.general" width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#28a745">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                        </svg>
                        <svg v-else width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#e74444">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                        </svg>
                    </td>
                </tr>
                <tr>
                    <td class="px-4 py-3 border-slate-400 border-r border-t-2">ID document type</td>
                    <td class="px-4 py-3 border-t-2" colspan="3">{{ document.type }}</td>
                </tr>
                <tr>
                    <td class="px-4 py-3 border-slate-400 border-r border-t-2">ID document number</td>
                    <td class="px-4 py-3 border-t-2" colspan="3">{{ document.number }}</td>
                </tr>
                </tbody>
            </table>
        </template>
    </panel-item>
</template>

<script>
export default {
    props: ['resource', 'resourceName', 'resourceId', 'field'],
    computed: {
        fields: function () {
            let fieldKeys = Object.keys(this.field.value.source);
            let result = {};
            let generalKey;
            for (let key of fieldKeys) {
                let replaceR = key.replace(/([A-Z])/g, " $1");
                const fieldName = replaceR.charAt(0).toUpperCase() + replaceR.slice(1);
                if (['residenceCountryCode', 'nationalityCountryCode'].includes(key)) {
                    generalKey = key.replace('Code', '');
                }
                result[key] = {
                    name: fieldName,
                    source: this.field.value.source[key],
                    general: generalKey ? this.field.value.general[generalKey] : this.field.value.general[key]
                };
            }
            return result;
        },
        document: function () {
            let document = {};
            document.type = this.field.value.idDocType;
            document.number = this.field.value.idDocNumber;

            return document;
        }
    }
}
</script>
<style>
table {
    border-radius: 20px;
    border-width: 1px;
    border-color: var(--50);
    border-spacing: 0;
}
th, td, tr {
    border-color: var(--40);
}
td {
    border-top-width: 1px;
}
.rb {
    border-right-width: 1px;
}
</style>
